# Node modules
node_modules/

# Build directories
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS system files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Dependency directories
.pnp
.pnp.js

# Parcel-bundler cache
.cache/

# Coverage directory used by tools like istanbul
coverage/

# Next.js
.next/

# React Native
.expo/

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
*.log
*.tgz
